.about {
  margin-bottom: 90px;
}

.about__container {
  min-width: 260px;
  margin: 0 30px;
  margin-bottom: 58px;

  @media (min-width: $tablet) {
    margin: 0 50px;
  }

  @media (min-width: $desktop) {
    margin: 0 50px 0 230px;
  }
}
