.about {
  margin-bottom: 90px;
}

.about__container {
  min-width: 260px;
  margin: 0 30px;
  margin-bottom: 58px;

  @media (min-width: $tablet) {
    margin: 0 50px;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    padding-left: 150px;
    max-width: 1050px;
    margin: 68px auto 0 auto;
  }
}
