.advantages {
  list-style-type: none;

  @include reset-list;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet) {
    width: 50%;
  }

  &--flower {
    order: 0;
  }

  &--clew {
    order: 1;
  }

  &--bill {
    order: 2;
  }

  &--rocket {
    order: 3;
  }

  &--heart {
    order: 4;
  }

  &--giftbox {
    order: 5;
  }
}

.advantages__text {
  @include reset-text;
  @include text($basic-black, 17px, 20px, 700);
  position: relative;
  margin-top: 83px;

  @media (min-width: $tablet) {
    @include text($basic-black, 20px, 22px, 700);
  }

  &--icon-flower::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    background-image: url("../img/flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }

  &--icon-bill::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    background-image: url("../img/bill.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }

  &--icon-heart::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 27px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }

  &--icon-clew::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    background-image: url("../img/clew.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }


  &--icon-rocket::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    background-image: url("../img/rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }

  &--icon-giftbox::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -53px;
    left: 0;
  }
}
