.button {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-white;
  border: 2px solid $very-dark-grey;

  &:hover {
    color: $basic-white;
    background-color: $very-dark-grey;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
