.catalog {
  background-color: $basic-white;
}

.catalog__container {
  min-width: 260px;
  margin: 0 30px;
}

.catalog__list {
  @include reset-list;
  width: 260px;
  margin: 0 auto;
}

.catalog__item {
  margin-top: 30px;
}
