.catalog {
  background-color: $basic-white;
}

.catalog__container {
  min-width: 260px;
  margin: 0 30px;

  @media (min-width: $tablet) {
    margin: 76px 50px 0 50px;
  }

  @media (min-width: $desktop) {
    margin-top: 124px;
  }
}

.catalog__list {
  @include reset-list;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
  }
}

.catalog__item {
  margin-top: 30px;

  @media (min-width: $tablet) {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 51px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    margin-right: 51px;
    margin-left: 0;

    &:nth-child(3n+1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
