.category__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.category__wrapper {
  @media (min-width: $tablet) {
    margin: 0 50px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    max-width: 1050px;
  }
}

.category__item {
  min-height: 103px;
  width: 100%;

  @media (min-width: $tablet) {
    min-height: 119px;
  }
}

.category__link {
  background-color: $color-cyan-200;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  &--darken-color {
    background-color: $color-cyan-300;
  }
}

.category__svg {
  &--toy {
    padding: 21px 27px 0 0;

    @media (min-width: $tablet) {
      padding: 31px 33px 0 0;
    }
  }

  &--interior {
    padding: 23px 36px 0 0;

    @media (min-width: $tablet) {
      padding: 30px 36px 0 0;
    }
  }
}

.category__text {
  @include reset-text;
  @include text($basic-white, 19px, 24px, 700);
  font-family: $font-sans;
  max-width: 170px;
  padding: 24px 0 31px 30px;

  @media (min-width: $tablet) {
    @include text($basic-white, 20px, 30px, 700);
    padding: 25px 0 34px 36px;
  }
}
