.contacts {
  @media (min-width: $desktop) {
    margin: 0 50px 100px 50px;
    box-sizing: border-box;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 474px 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 50px;
  }
}

.contacts__container {
  min-width: 260px;
  margin: 38px 30px 62px 30px;

  @media (min-width: $tablet) {
    margin: 68px 50px 0 50px;
  }

  @media (min-width: $desktop) {
    margin: 79px 0 0 175px;
  }
}

.contacts__email {
  @include text($color-gray-500, 14px, 30px, 400);
  font-style: normal;
  border-bottom: 1px solid $color-cyan-200;
  padding-bottom: 3px;

  &:hover,
  &:focus {
    color: $color-cyan-200;
    border-bottom: 1px solid $color-cyan-400;
  }

  &:active {
    border-bottom: 1px solid rgba($color-cyan-200, 0.1%);
  }

  @media (min-width: $tablet) {
    font-size: 17px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 8px;
  }
}

.contacts__text {
  @include reset-text;
  @include text($color-gray-500, 14px, 30px, 400);
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    display: flex;
  }
}

.contacts__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-wrap: wrap;
  }
}

.contacts__term {
  @include text($color-gray-500, 14px, 30px, 400);
  font-style: normal;
  min-width: 30%;
  margin-top: 15px;

  @media (min-width: $tablet) {
    font-size: 17px;
    min-width: 77px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    min-width: min-content;
    margin: 0 24px 15px 0;
  }

  &--email {
    padding-bottom: 15px;
  }
}

.contacts__definition {
  margin: 0;
  width: 70%;
  margin-top: 15px;

  @media (min-width: $tablet) {
    width: auto;
    margin-right: 38px;
    margin-top: 0;
    min-width: 218px;
  }

  @media (min-width: $desktop) {
    width: 220px;
    margin: 0;
  }

  &--email {
    margin-bottom: 15px;
  }
}

.contacts__map {
  min-width: 320px;
  height: 450px;
  margin: 0 0 46px 0;

  @media (min-width: $tablet) {
    margin: 49px 0 61px 0;
  }

  @media (min-width: $desktop) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
  }

  @media (min-width: $desktop) {
    height: auto;
    width: 527px;
  }
}

.contacts__iframe {
  width: 100%;
  height: 457px;
  border: none;
}
