.feedback {
  @media (min-width: $desktop) {
    margin-bottom: 67px;
  }
}

.feedback__container {
  min-width: 260px;
  margin: 0 30px;

  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    max-width: 1050px;
    padding-left: 150px;
    margin: 58px auto 0 auto;
  }
}

.feedback__buttons {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    position: absolute;
    width: 175px;
    bottom: 0;
    right: 0;
  }
}

.change-quote {
  background-color: $basic-white;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid $color-gray-100;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet) {
    border: none;
  }

  &--next svg {
    transform: rotate(180deg);
  }

  &:hover .change-quote__svg {
    opacity: 0.6;
  }

  &:active .change-quote__svg {
    opacity: 0.3;
  }
}
