.feedback__container {
  min-width: 260px;
  margin: 0 30px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px;
  }

  @media (min-width: $desktop) {
    margin-left: 230px;
  }
}

.feedback__buttons {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    order: 4;
    width: 50%;
  }
}

.change-quote {
  background-color: $basic-white;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 1px solid $color-gray-100;
  cursor: pointer;
  outline: none;

  &--next svg {
    transform: rotate(180deg);
  }

  &:hover .change-quote__svg {
    opacity: 0.6;
  }

  &:active .change-quote__svg {
    opacity: 0.3;
  }
}
