.feedback-slider {
  @include reset-list;

  @media (min-width: $tablet) {
    order: 2;
    width: 100%;
  }
}

.feedback-slider__item {
  display: none;

  &--current-slide {
    display: block;
  }
}

.feedback-slider__blockquote {
  @include text($color-gray-500, 15px, 30px, 400);
  margin: 20px 0 0 0;

  @media (min-width: $tablet) {
    font-size: 17px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop) {
    max-width: 810px;
  }
}

.feedback-slider__author {
  margin-top: 31px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin: 0;
    order: 3;
    width: 50%;
  }
}

.feedback-slider__cite {
  display: block;

  @include text($basic-black, 17px, 24px, 700);
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.feedback-slider__social {
  display: block;

  @include text($color-gray-500, 17px, 30px, 400);
}
