.feedback-slider {
  @include reset-list;
}

.feedback-slider__item {
  display: none;
}

.feedback-slider__current-slide {
  display: block;
}

.feedback-slider__blockquote {
  @include text($color-gray-500, 15px, 30px, 400);
  margin: 0;
}

.feedback-slider__cite {
  display: block;
  margin-top: 33px;

  @include text($basic-black, 17px, 24px, 700);
  font-style: normal;
}

.feedback-slider__social {
  display: block;

  @include text($color-gray-500, 17px, 30px, 400);
  margin-bottom: 30px;
}
