.hero {
  width: 100%;
  min-height: 300px;
  background-color: $color-gray-200;
  /*background-image: url("../img/hero-mobile.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 90px;

  @media (min-width: $tablet) {
    min-width: 670px;
    padding-top: 155px;
    padding-bottom: 372px;
  }
}

.hero__title {
  @include reset-heading;
  @include text($basic-black, 27px, 30px, 700);
  text-align: center;
  /*padding-top: 90px;*/

  @media (min-width: $tablet) {
    @include text($basic-black, 43px, 50px, 700);
  }
}
