.hero {
  height: 300px;
  width: 100%;
  background-color: $very-light-grey;
}

.hero__title {
  color: $basic-black;
  font-family: $font-sans;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
