.intro {
  background-color: $color-gray-200;
}

.intro_container {
  width: 260px;
  padding: 0 30px;
}

.intro__title {
  @include reset-heading;
  @include text($basic-black, 27px, 30px, 700);
  text-align: center;
  color: $basic-black;
}
