.intro {
  position: relative;
  background-color: $color-gray-200;

  @media (min-width: $tablet) {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag.svg");

      @media (min-width: $desktop) {
        background-image: url("../img/zigzag-desktop.svg");
        background-position: center;
        background-repeat: repeat-x;
        bottom: -14px;
        height: 34px;
      }
    }
  }
}

.intro_container {
  min-width: 260px;
  margin: 0 30px;
  padding-top: 73px;
  padding-bottom: 73px;

  @media (min-width: $tablet) {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 101px;
    padding-bottom: 100px;
  }
}

.intro__title {
  @include reset-heading;
  @include text($basic-black, 27px, 30px, 700);
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet) {
    @include text($basic-black, 43px, 50px, 700);
  }

  @media (min-width: $desktop) {
    @include text($basic-black, 53px, 57px, 700);
  }
}
