.knitting-type {
  @include reset-list;
}

.knitting-type__item {
  margin-left: 60px;
}

.knitting-type__radio + .knitting-type__label--radio-label {
  @include text($basic-black, 17px, 18px, 700);
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 24px 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -61px;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 2px solid $color-gray-500;
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    font-size: 19px;
  }
}

.knitting-type__radio:checked + .knitting-type__label--radio-label {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -49px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: $color-cyan-200;
    border-radius: 50%;
  }
}

.knitting-type__checkbox + .knitting-type__label--checkbox-label {
  @include text($basic-black, 17px, 18px, 700);
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 43px 0;
}
