.logo__mobile {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.logo__desktop {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
  }

  &--active {
    &:hover {
      opacity: 60%;
      transition: all 0.3s ease-in-out;
    }

    &:active {
      opacity: 30%;
      transition: all 0.1s ease-in-out;
    }
  }
}
