.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-end;
  }

  @include outline(red);
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 32px;
  right: 31px;
  background-color: transparent;
  background-image: url("../../img/menu.svg");
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  @include reset-list;
}
