.order {
  background-color: $basic-white;
}

.order__background {
  padding-bottom: 0;

  @media (min-width: $tablet) {
    display: block;
    background-color: $color-gray-200;
    padding-bottom: 30px;
  }
}

.order__container {
  margin: 0 30px 2px 30px;
  min-width: 260px;

  &--text {
    margin-top: 17px;
    margin-bottom: 29px;
  }

  &--type {
    margin-bottom: 18px;
  }

  &--color {
    margin-bottom: 32px;
  }

  &--name {
    margin-bottom: 35px;
  }

  &--contacts {
    margin-bottom: 34px;
  }

  @media (min-width: $tablet) {
    margin: 0 50px 0 50px;
    padding-top: 50px;
  }

  @media (min-width: $desktop) {
    max-width: 1050px;
    padding-top: 0;
    margin: 0 auto 0 auto;

    &--text {
      margin: 54px auto 0 auto;
      max-width: 702px;
    }
  }
}

.order__text {
  @include reset-text;
  @include text($basic-black, 13px, 24px, 400);
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    @include text($basic-black, 17px, 30px, 400);
  }
}

.order-form__legend {
  display: block;

  &--color {
    margin-bottom: 26px;
  }
}
