.order-contacts__label {
  @include text($font-sans, 17px, 16px, 700);
  text-transform: uppercase;
  color: $color-cyan-200;
}

.order-contacts__input {
  border: none;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba($basic-black, 0.3%);
  }
}
