.order {
  background-color: $basic-white;
}

.order__background {
  @media (min-width: $tablet) {
    background-color: $color-gray-200;
  }
}

.order__container {
  min-width: 260px;
  margin: 17px 30px 0 30px;

  @media (min-width: $tablet) {
    margin: 54px 50px 0 50px;
  }
}

.order__text {
  @include reset-text;
  @include text($basic-black, 13px, 24px, 400);
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    @include text($basic-black, 17px, 30px, 400);
  }
}

.order-form__legend {
  display: block;
}

.order-form__group {
  @media (min-width: $tablet) {
    /*display: flex;
    flex-direction: row;*/
  }
}
