.order-user__label {
  @include text($basic-black, 17px, 18px, 700);
}

.order-user__input {
  border: none;
  border-bottom: 2px solid $basic-black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba($basic-black, 0.3%);
  }
}
