.page-header {
  border-bottom: 1px solid #f1f1f1;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 79px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-end;
    height: 89px;
  }

  @media (min-width: $desktop) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.page-header__container {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  margin: 0 30px;

  @media (min-width: $tablet) {
    width: 114px;
    margin-right: auto;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: -13px;
    right: 0;
    left: 0;
    z-index: 999;
    width: 149px;
    height: 72px;
    margin: 0 auto;
  }
}

.page-header__legend {
  @media (max-width: $only-mobile) {
    display: none;
  }

  @media (min-width: $tablet) {
    @include text($color-gray-500, 15px, 24px, 400);
    position: absolute;
    top: 108px;
    right: 50px;
    z-index: 30;
  }

  @media (min-width: $desktop) {
    right: 0;
  }
}
