.page-header__legend {
  color: $very-dark-grey;
  font-family: $font-sans;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.page-header__container {
  width: 260px;
  padding: 0 30px;
}
