.product-details {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.product-details__feature {
  min-width: 40%;

  @include text($color-gray-500, 15px, 20px, 400);
  border-bottom: 1px solid $color-gray-100;
  padding-bottom: 12px;
  padding-top: 12px;
}

.product-details__value {
  min-width: 60%;

  @include text($color-gray-500, 15px, 20px, 400);
  margin: 0;
  border-bottom: 1px solid $color-gray-100;
  padding-bottom: 12px;
  padding-top: 12px;
}
