.product-details {
  margin: 0;
}

.product-details__feature {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-gray-500;
}

.product-details__value {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-gray-500;
}
