.product-details__feature {
  color: $very-dark-grey;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.product-details__value {
  color: $very-dark-grey;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
