.promo {
  background-color: $basic-white;
}

.promo__container {
  min-width: 260px;
  padding: 0 30px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 334px;
    grid-template-rows: min-content min-content min-content;
    column-gap: 48px;
    padding: 0 50px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 525px;
    margin-top: 54px;
    margin-left: 180px;
  }
}

.promo__week-product {
  @include text($color-cyan-200, 17px, 20px, 700);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 130px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 15px;
    left: -165px;
  }
}

.promo__text {
  @include reset-text;
  @include text($color-gray-500, 15px, 30px, 400);
  padding-top: 17px;
  padding-bottom: 28px;

  @media (min-width: $tablet) {
    @include text($color-gray-500, 17px, 30px, 400);
    margin-top: -10px;
    margin-bottom: 35px;
    padding: 0;
  }
}

.promo__purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__price {
  @include text($color-gray-500, 17px, 24px, 700);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    @include text($color-gray-500, 20px, 24px, 700);
    margin: auto auto 33px auto;
  }

  @media (min-width: $desktop) {
    margin-top: 109px;
  }
}

.promo__image-wrapper {
  @media (min-width: $tablet) {
    width: 334px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: $desktop) {
    width: 525px;
    height: 636px;
    grid-row-start: 1;
    position: relative;
    object-fit: contain;
  }
}

.promo__image {
  display: block;
  margin: 28px auto 25px auto;

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
  }
}
