.site-list {
  display: none; /*display: none уберет навигацию + user-list*/
  flex-direction: column;
}

.site-list__link {
  @include text($basic-black, 17px, 24px, 700);
  display: block;
  padding: 27px 0 27px 76px;
  font-family: $font-sans;
  background-color: $basic-white;
  box-shadow: 0 1px 0 $color-gray-100, inset 0 1px 0 $color-gray-100;

  &:hover,
  &:focus {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);
  }
}
