.site-list {
  display: flex; /* меняем через JS на display: flex/none для отображения */
  flex-direction: column;

  @media (min-width: $tablet) {
    display: flex;
    position: absolute;
    top: 100px;
    left: 50px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 370px;
    z-index: 30;
  }

  @media (min-width: $desktop) {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 470px;
    flex-wrap: wrap;
  }
}

.site-list__link {
  @include text($basic-black, 17px, 24px, 700);
  display: block;
  padding: 27px 0 27px 76px;
  font-family: $font-sans;
  background-color: $basic-white;
  box-shadow: 0 1px 0 $color-gray-100, inset 0 1px 0 $color-gray-100;

  &:hover,
  &:focus {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);
  }

  @media (min-width: $tablet) {
    @include text($basic-black, 15px, 24px, 700);
    background-color: transparent;
    padding: 10px 19px 10px 0;
    box-shadow: none;
  }

  @media (min-width: $desktop) {
    @include text($basic-black, 17px, 24px, 700);
    background-color: $basic-white;
    padding: 33px 35px 31px 0;
  }

  &--catalog {
    @media (min-width: $desktop) {
      border-right: 1px solid #f1f1f1;
    }
  }

  &--knitting {
    @media (min-width: $desktop) {
      padding-left: 30px;
    }
  }
}

.site-list__link--arrivals {
  display: none;

  @media (min-width: $desktop) {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    background-color: transparent;

    @include text($basic-black, 15px, 24px, 700);
  }
}

.site-list__link--sell {
  display: none;

  @media (min-width: $desktop) {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    background-color: transparent;

    @include text($basic-black, 15px, 24px, 700);
  }
}

.site-list__item {
  box-sizing: border-box;

  @media (min-width: $desktop) {
    /*min-width: 235px;*/
  }
}
