.social__list {
  @include reset-list;
  display: flex;
  margin-top: 25px;
}

.social__item {
  margin: 0 20px;
}

.social__link--insta {
  &:hover .social__svg--insta path {
    fill: $color-cyan-400;
  }

  &:active .social__svg--insta path {
    fill: rgba($color-cyan-400, 0.3);
  }
}

.social__link--fb {
  &:hover .social__svg--fb path {
    fill: $color-cyan-400;
  }

  &:active .social__svg--fb path {
    fill: rgba($color-cyan-400, 0.3);
  }
}

.social__link--twitter {
  &:hover .social__svg--twitter path {
    fill: $color-cyan-400;
  }

  &:active .social__svg--twitter path {
    fill: rgba($color-cyan-400, 0.3);
  }
}
