.user-list {
  list-style-type: none;

  @include nulled;
}

.user-list__link {
  background-color: $basic-white;
  color: $basic-black;
  font-family: $font-sans;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
