.video__container {
  width: 260px;
  margin: 0 30px;

  &:hover .video__background {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1%);
  }

  &:active .video__background {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1%);
  }
}

.video__title {
  @include reset-heading;
  @include text($font-sans, 17px, 24px, 700);
  color: $basic-black;
}

.video__text {
  @include reset-text;
  @include text($font-sans, 13px, 24px, 400);
  color: $color-gray-500;
}
