.video {
  margin: 30px 30px 0 30px;
}

.video__container {
  border: 1px solid $color-gray-100;
  margin: 0 auto;
  width: 260px;

  &:hover .video__background {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1%);
  }

  &:active .video__background {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1%);
  }
}

.video__background {
  padding-bottom: 33px;
}

.video__image-wrapper {
  position: relative;
}

.video__title {
  @include reset-heading;
  @include text($basic-black, 17px, 24px, 700);
}

.video__text {
  @include reset-text;
  @include text($color-gray-500, 13px, 24px, 400);
  padding: 0 32px;
  margin: 35px 0 31px 0;
}

.video__button {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  display: block;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
    transition: all 0.4s ease-in-out;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.1s ease-in-out;
    opacity: 0.3;
  }
}

.video__content {
  display: block;
}
