.button {
  @include text($color-gray-500, 17px, 20px, 700);

  &--decor {
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: $basic-white;
    border: 2px solid $color-gray-500;
  }

  &:hover {
    color: $basic-white;
    background-color: $color-gray-500;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  &--promo {
    min-width: 260px;
    margin-bottom: 36px;

    @media (min-width: $tablet) {
      margin: 0;
    }
  }
}
