.button {
  @include text($color-gray-500, 18px, 20px, 700);

  &--decor {
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: $basic-white;
    border: 2px solid $color-gray-500;
  }

  &:hover {
    color: $basic-white;
    background-color: $color-gray-500;
    transition: all 0.4s ease-in-out;
  }

  &:active {
    color: rgba($basic-white, 0.3);
    transition: all 0.1s ease-out;
  }

  &--promo {
    min-width: 260px;

    @media (min-width: $tablet) {
      min-width: 292px;
      margin: 0;
      font-size: 17px;
    }

    @media (min-width: $desktop) {
      min-width: auto;
      max-width: 292px;
    }
  }

  &--feedback {
    min-width: 260px;

    @media (min-width: $tablet) {
      order: 1;
      min-width: 175px;
      height: min-content;
      margin-top: 79px;
      font-size: 17px;
    }

    @media (min-width: $desktop) {
      margin-top: 80px;
    }
  }

  &--contacts {
    margin: 0 30px 39px 30px;

    @media (min-width: $tablet) {
      width: 230px;
      margin: 0 auto 57px auto;
      font-size: 17px;
    }

    @media (min-width: $desktop) {
      height: 52px;
      margin-top: 84px;
      margin-bottom: 4px;
      margin-left: 175px;
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-row-start: 3;
    }
  }

  &--order {
    width: 100%;
    min-height: 52px;
    font-size: 17px;
    line-height: 16px;
    cursor: pointer;

    @media (min-width: $tablet) {
      width: 230px;
    }

    @media (min-width: $desktop) {
      margin-left: 175px;
    }
  }

  &--video {
    @media (min-width: $tablet) {
      box-sizing: border-box;
      min-width: 584px;
      min-height: 52px;
      padding-top: 17px;
      padding-bottom: 15px;
      font-size: 17px;
      line-height: 16px;
    }

    @media (min-width: $desktop) {
      min-width: 230px;
      max-width: 230px;
    }
  }

  &--modal {
    z-index: 999;
    display: block;
    box-sizing: border-box;
    width: 260px;
    min-height: 52px;
    margin: 0 auto;
    color: $basic-white;
    text-transform: uppercase;
    background-color: $color-cyan-200;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-cyan-400;
      border: none;
      outline: none;
    }

    &:active {
      background-color: $color-cyan-100;
      border: none;
      outline: none;
    }

    @media (min-width: $tablet) {
      width: 350px;
    }
  }
}
