a {
  text-decoration: none;
  color: $basic-black;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  @include text($basic-black, 25px, 30px, 700);

  &--small {
    font-size: 18px;
  }
}

.button { //TODO: В глобал, или в блок button.scss? //
  background-color: $basic-white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid $very-dark-grey;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover {
    background-color: $very-dark-grey;
    color: $basic-white;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
