@mixin nulled {
  margin: 0;
  padding: 0;
}

@mixin text($color, $font-size: 17px, $line-height: 24px, $font-weight: 400) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
