.title {
  @include reset-heading;
  @include text($basic-black, 25px, 30px, 700);

  &--contacts {
    font-size: 18px;
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      @include text($basic-black, 43px, 50px, 700);
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
    }
  }

  &--promo {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    margin-bottom: 4px;

    @media (min-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 50px;

      @include text($basic-black, 43px, 50px, 700);
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-end: 3;
      position: relative;
      margin-top: 61px;
      z-index: 999;
    }
  }

  &--about {
    @media (min-width: $tablet) {
      @include text($basic-black, 43px, 50px, 700);
      padding-bottom: 28px;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
    }
  }

  &--feedback {
    @include text($basic-black, 25px, 30px, 700);
    margin-bottom: 14px;

    @media (min-width: $tablet) {
      order: 0;

      @include text($basic-black, 43px, 50px, 700);
      width: 70%;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
    }
  }
}
