.title {
  @include reset-heading;
  @include text($basic-black, 25px, 30px, 700);

  &--contacts {
    margin-bottom: 14px;
    font-size: 18px;

    @media (min-width: $tablet) {
      @include text($basic-black, 43px, 50px, 700);
      position: relative;
      margin-bottom: 50px;

      &::after {
        content: "";
        position: absolute;
        top: -20px;
        right: 3px;
        width: 47px;
        height: 81px;
        background-image: url("../img/flag.svg");

        @media (min-width: $desktop) {
          top: -17px;
          left: -112px;
        }
      }
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
      margin-bottom: 36px;
    }
  }

  &--promo {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    margin-bottom: 5px;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 51px;
      margin-bottom: 49px;

      @include text($basic-black, 43px, 50px, 700);
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
      position: relative;
      z-index: 999;
      margin-top: 61px;
      margin-bottom: 29px;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-end: 3;
    }
  }

  &--about {
    @media (min-width: $tablet) {
      @include text($basic-black, 43px, 50px, 700);
      padding-bottom: 13px;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
    }
  }

  &--feedback {
    @include text($basic-black, 25px, 30px, 700);
    margin-bottom: 14px;

    @media (min-width: $tablet) {
      order: 0;
      width: 70%;

      @include text($basic-black, 43px, 50px, 700);
      margin-bottom: 39px;
    }

    @media (min-width: $desktop) {
      @include text($basic-black, 53px, 57px, 700);
      margin-bottom: 36px;
    }
  }
}
