$basic-black: #000000;
$basic-white: #ffffff;
$very-light-grey: #f1f1f1;
$very-dark-grey: #444444;
$cyan: #63d1bb;
$moderate-cyan: #63d1bb;
$more-dark-cyan: #46c1ae;
$darken-cyan: #56c3b2;
$font-sans: "Open Sans", "Arial", sans-serif;
