//Basic-colors
$basic-black: #000000;
$basic-white: #ffffff;

//Gray colors
$color-gray-100: #ececec;
$color-gray-200: #f1f1f1;
$color-gray-250: #231f20;
$color-gray-300: #cccccc;
$color-gray-400: #b3b3b3;
$color-gray-500: #444444;
$color-gray-600: #231f28;

//Cyan colors
$color-cyan-100: #59d5bc;
$color-cyan-200: #63d1bb;
$color-cyan-300: #56c3b2;
$color-cyan-400: #46c1ae;

//Font
$font-sans: "Open Sans", "Arial", sans-serif;

//Viewports
$desktop: 1150px;
$tablet: 768px;
$only-mobile: 767px;
